## question 1

write a program to accept percentage and display the grade accordingly

In [36]:
a=float(input("enter the grade"))
if a>90:
    print("grade A")
if a>80 and a<=90:
    print("grade B")
if a>=60 and a<=80:
    print("grade C")
if a<60:
    print("garde D")

enter the grade 45

garde D

## question 2

write a program to accept the price of the bike and display the road tax to be payed according the following criteria

In [37]:
p=float(input("enter the price of bike"))
if p>100000:
    print("tax for this bike is {}".format(0.15*p))
if p>50000 and p<=100000:
    print("tax for this bike is {}".format(0.1*p))
if p<=50000:
    print("tax for this bike is {}".format(0.05*p))

enter the price of bike 1325455654

tax for this bike is 198818348.1

## question 3

accpet any city from the user and print its monument

In [38]:
city =str(input("enter the name of the city"))
if city=="delhi":
    print("the monument is red fort")
if city=="agra":
    print(" the monument is taj mahal")
if city=="jaipur":
    print("the monument is jal mahal")

enter the name of the city delhi

the monument is red fort

In [39]:
f=str(input())
c={"delhi":"red fort" ,"agra":"taj mahal","jaipur":"jal mahal"}
for i in c:
    if f==i:
        print("th name of the monument of city",i,"is {}".format(c[i]))
        break
else: 
    print(" monument of this city is not registerd in our data base , \n try another city")

 asa

 monument of this city is not registerd in our data base ,
 try another city

## question 4

check how many times a no can be divided by 3 before it is less than equal to 10

In [59]:
n=int(input("enter any number of your choice"))
count=0
while n>10:
    count=count+1
    n=n/3  
print(count)

enter any number of your choice 729

4

## question 5

why and when to use while loop in python

### answer 5 


Python while loop is used to run a block code until a certain condition is met. Here, A while loop evaluates the condition. If the condition evaluates to True , the code inside the while loop is executed.

For example, if we want to ask a user for a number between 1 and 10, we don't know how many times the user may enter a larger number, so we keep asking "while the number is not between 1 and 10".

## question 6

use nested while loop to print 3 patterns

In [8]:
#pattern no-1
m = int(input('Enter number of rows : '))
row=1
while row<=m:
    column=1
    while column<=row:
        print("*", end="")
        column=column+1
    print()
    row=row+1
  

#pattern no 2

n = int(input('Enter number of rows : '))
 
i = 1
while i <= n :
    j = n
    while j >= i:
        print("*", end = "")
        j -= 1
    print()
    i += 1
    
    
    
r = int(input('Enter number of rows : '))
 
k = 1
i = 1
while i <= r :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

Enter number of rows :  7

*
**
***
****
*****
******
*******

Enter number of rows :  7

*******
******
*****
****
***
**
*

Enter number of rows :  7

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15
 16  17  18  19  20  21
 22  23  24  25  26  27  28

## question 7

reverse a while loop to display numbers from 10 to 1

In [35]:
num=10
while num>0:
    print(num,end="  ")
    num=num-1

10  9  8  7  6  5  4  3  2  1